<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nodejs + MySQL</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet">
</head>

<body>

    <!-- navigation -->
    <nav>
        <a href="/">CRUD Nodejs Mysql</a>
    </nav>